body {
    background-color: #FFFDD0;
    background-repeat: no-repeat;
    background-size: cover;
  height: 100%;
  
}
  
div.form{
    display: block;
    text-align:center;
}
/*  text-align: center : center all items within body, this property is inherited */
/* text-align: left: left-align the CONTENTS all items within body, additionally
you can add this text-align: left property to all element manually */
/* display: inline-block: reduces the width of the form to only what is necessary */

form{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.firstName{
    font-size: 18px;
    color: aqua;
}
.businessName{
    font-size: 18px;
    color: aqua;
}
 .button{
    border-radius: 4px;
    background-color: #444;
    color: white;
    padding: 10px 32px;
    text-align: center;
}

h1{
    color:#ff6ec7;
}
#error{
    color: seagreen
}
/* going to do a different style MIAMI VICE COLOR SCHEME Bright Colors 
 ERROR MESSAGE SHOULD BE A 80's style script 
 * make the "Contact Us" have two outlines behind it 
 so something like pink text color and blue and white outline around it 3d 
background should be a little wild too maybe neon tiger stripes or something

*/